body {
    --color-primary: #000000;
    --color-2: #222222;
    --color-3: #333333;
    --color-4: #444444;
    --color-white: #ffffff;
    --color-dark-red: #871D1D;
    --color-pale-red: #933838;
    --color-medium-red: #D12626;
}
